@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
*{
    margin: 0;
    padding: 0;
}
.titulo_destaque{
    color: #22d4fd;
}
body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: #f6f6f6;
}
.apresentacao {
    display: flex;
    align-items: center;
    margin: 20%;
}
.apresentacao_conteudo_titulo {
    font-size: 30px;
    font-family: 'Krona One', sans-serif;
}
.apresentacao_conteudo_texto {
    font-size: 24px;
}
.apresentacao_links {
    display: flex;
    justify-content: space-between;
}
.apresentacao_conteudo {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao_links_links {
    background-color: #22d4fd;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 550;
    padding: 21.5px 0;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    margin: 0 15px;
}
img {
    display: flex;
    width: 400px;
    height: 400px;
    left: 1032px;
    top: 20px;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
}